body {
  background-color: #000;
  color: #f4f4f4;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 15px;
}

button {
  background-color: rgba(109, 33, 79, 0.5);
  border: 0;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  outline: none;
}

i {
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer {
  font-size: 5em;
  padding: 7rem 4rem;
  border-radius: 100%;
  box-shadow: -1px 2px 20px 1px #6d214f;
  transition: 1s all ease-in-out;
  border: 1px solid #eee;
}

.anim {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    box-shadow: -1px 2px 1px 1px rgba(123, 239, 178, 1);
  }
  to {
    box-shadow: -1px 2px 30px 6px rgba(123, 239, 178, 1);
  }
}
